@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');
:root {
    /* font-size  */
    --fs-sm: 14px;
    --fs-md: 14px;
    --fs-lg: 22px;
    --fs-xl: 16px;
    --fs-xxl: 28px;
    --fs-2xl: 32px;
    /* font-family */
    --ff-main: 'Rubik', sans-serif;
    /* color */
    --main: #F36A3E;
    --white: #FAFAFA;
    --black: #000000;
    --black-2: #323232;
    --white-2: #FFF;
    --gray: #E5E5E5;
    --gray-bg: #F9F9F9;
}

.ff_main {
    font-family: var(--ff-main);
}


/* color */

.text_white {
    color: var(--white);
}

.black {
    color: var(--black)
}

.color_main {
    color: var(--main);
}

.black_light {
    color: var(--black-2);
}

.gray {
    color: var(--gray);
}

.gray_bg {
    background-color: var(--gray-bg);
}

.bg_black {
    background-color: var(--black);
}


/* font-size */

.fs_sm {
    font-size: var(--fs-sm);
}

.fs_md {
    font-size: var(--fs-md);
}

.fs_lg {
    font-size: var(--fs-lg);
}

.fs_xl {
    font-size: var(--fs-xl);
}

.fs_xxl {
    font-size: var(--fs-xxl);
}

.fs_2xl {
    font-size: var(--fs-2xl);
}


/* media-quary */

@media (min-width:575.5px) {
     :root {
        /* font-size  */
        --fs-sm: 16px;
        --fs-md: 16px;
        --fs-lg: 22px;
        --fs-xl: 20px;
        --fs-xxl: 30px;
        --fs-2xl: 40px;
    }
}

@media (min-width:767.5px) {
     :root {
        /* font-size  */
        --fs-sm: 16px;
        --fs-lg: 22px;
        --fs-2xl: 40px;
    }
}

@media (min-width:991.5px) {
     :root {
        /* font-size  */
        --fs-sm: 16px;
        --fs-md: 18px;
        --fs-lg: 22px;
        --fs-xl: 24px;
        --fs-xxl: 40px;
        --fs-2xl: 52px;
    }
}

@media (min-width:1199.5px) {
     :root {
        /* font-size  */
        --fs-sm: 16px;
        --fs-md: 20px;
        --fs-lg: 22px;
        --fs-xl: 24px;
        --fs-xxl: 40px;
    }
}